@import "tailwindcss";

@keyframes scaleIn {
  from { transform: scale(0.85); opacity: 0 }
  to { transform: scale(1); opacity: 1 }
}

.chart-animate {
  animation: scaleIn 0.5s ease-out forwards;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}